<section class="">



  <div class="relative max-w-7xl mx-auto px-4 lg:px-8 text-center">

    <div class="flex items-center justify-center gap-6 mb-4">
      <div class="hidden lg:block h-[2px] w-full bg-blue-400"></div>

      <h2 class="text-2xl lg:text-3xl font-bold text-black whitespace-nowrap">
        What is <span class="text-[#0D63AA]">Bondrro</span>?
      </h2>

      <div class="hidden lg:block h-[2px] w-full bg-blue-400"></div>
    </div>

    <div class="space-y-4 text-black text-lg leading-relaxed max-w-4xl mx-auto">

      <p>
        Bondrro is a trusted crowd delivery app that connects people who want to send parcels or documents with verified
        travelers heading to the same destination.
      </p>

      <p>
        By using free luggage or car space on existing trips, Bondrro enables faster deliveries than traditional courier
        services.
      </p>

      <p>
        Senders can deliver with confidence, while travelers earn during trips they already take, making each journey
        more rewarding and sustainable by reducing additional CO₂ emissions.
      </p>

    </div>

  </div>


  <section class="py-20 ">

    <div class="max-w-7xl mx-auto px-4 lg:px-8 ">

      <!-- Blue Top Container -->
      <div class="bg-[#0D63AA] rounded-2xl pt-14 pb-48 px-6 lg:px-16 text-center text-white relative">

        <h2 class="text-2xl lg:text-3xl font-bold mb-4">
          Your Trust & Safety Come First
        </h2>

        <p class="text-white max-w-3xl mx-auto text-lg">
          We’ve built multiple protection layers to make every delivery secure, transparent, and reliable.
          From delivery to payment, Bondrro protects both senders and travellers throughout the journey.
        </p>

      </div>


      <!-- Cards Wrapper -->
      <div class="relative -mt-36 max-w-5xl mx-auto">
        <div class="bg-white rounded-2xl shadow-lg p-5 lg:p-8">

          <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-5">

            <!-- Card 1 -->
            <div class="group border border-[#0D63AA] rounded-lg p-5 text-lg 
              transition-all duration-300 
              hover:bg-[#0D63AA] hover:-translate-y-1 hover:shadow-lg">

              <div class="w-14 h-14 flex items-center justify-center bg-[#0D63AA] text-white 
rounded-lg mb-3 transition duration-300 
group-hover:bg-white group-hover:text-[#0D63AA]">
                <i class="fa-solid fa-shield-halved text-4xl"></i>
              </div>
              <h4 class="font-semibold mb-1 text-black text-lg 
               transition duration-300 group-hover:text-white">
                Escrow Payment Protection
              </h4>

              <p class="text-black text-xs leading-relaxed 
              transition duration-300 group-hover:text-white">
                Travellers get paid only once the item is successfully delivered and confirmed.
              </p>
            </div>


            <!-- Card 2 -->
            <div class="group border border-[#0D63AA] rounded-lg p-5 text-lg 
              transition-all duration-300 
              hover:bg-[#0D63AA] hover:-translate-y-1 hover:shadow-lg">

              <div class="w-9 h-9 flex items-center justify-center bg-[#0D63AA] text-white 
                rounded-md mb-3 transition duration-300 
                group-hover:bg-white group-hover:text-[#0D63AA]">
                <i class="fa-solid fa-id-card text-lg"></i>
              </div>

              <h4 class="font-semibold mb-1 text-black text-lg 
               transition duration-300 group-hover:text-white">
                Identity Verification
              </h4>

              <p class="text-black text-xs leading-relaxed 
              transition duration-300 group-hover:text-white">
                All users are verified to ensure a trusted and accountable community.
              </p>
            </div>


            <!-- Card 3 -->
            <div class="group border border-[#0D63AA] rounded-lg p-5 text-lg 
              transition-all duration-300 
              hover:bg-[#0D63AA] hover:-translate-y-1 hover:shadow-lg">

              <div class="w-9 h-9 flex items-center justify-center bg-[#0D63AA] text-white 
                rounded-md mb-3 transition duration-300 
                group-hover:bg-white group-hover:text-[#0D63AA]">
                <i class="fa-solid fa-star text-lg"></i>
              </div>

              <h4 class="font-semibold mb-1 text-black text-lg 
               transition duration-300 group-hover:text-white">
                Mutual Review System
              </h4>

              <p class="text-black text-xs leading-relaxed 
              transition duration-300 group-hover:text-white">
                Both senders and travellers review each other after delivery.
              </p>
            </div>


            <!-- Card 4 -->
            <div class="group border border-[#0D63AA] rounded-lg p-5 text-lg 
              transition-all duration-300 
              hover:bg-[#0D63AA] hover:-translate-y-1 hover:shadow-lg">

              <div class="w-9 h-9 flex items-center justify-center bg-[#0D63AA] text-white 
                rounded-md mb-3 transition duration-300 
                group-hover:bg-white group-hover:text-[#0D63AA]">
                <i class="fa-solid fa-handshake text-lg"></i>
              </div>

              <h4 class="font-semibold mb-1 text-black text-lg 
               transition duration-300 group-hover:text-white">
                Fair & Transparent Pricing
              </h4>

              <p class="text-black text-xs leading-relaxed 
              transition duration-300 group-hover:text-white">
                Clear, flexible, and fair pricing agreements.
              </p>
            </div>


            <!-- Card 5 -->
            <div class="group border border-[#0D63AA] rounded-lg p-5 text-lg 
              transition-all duration-300 
              hover:bg-[#0D63AA] hover:-translate-y-1 hover:shadow-lg">

              <div class="w-9 h-9 flex items-center justify-center bg-[#0D63AA] text-white 
                rounded-md mb-3 transition duration-300 
                group-hover:bg-white group-hover:text-[#0D63AA]">
                <i class="fa-solid fa-location-dot text-lg"></i>
              </div>

              <h4 class="font-semibold mb-1 text-black text-lg 
               transition duration-300 group-hover:text-white">
                Real-Time Tracking
              </h4>

              <p class="text-black text-xs leading-relaxed 
              transition duration-300 group-hover:text-white">
                Track delivery progress directly in the app.
              </p>
            </div>


            <!-- Card 6 -->
            <div class="group border border-[#0D63AA] rounded-lg p-5 text-lg 
              transition-all duration-300 
              hover:bg-[#0D63AA] hover:-translate-y-1 hover:shadow-lg">

              <div class="w-9 h-9 flex items-center justify-center bg-[#0D63AA] text-white 
                rounded-md mb-3 transition duration-300 
                group-hover:bg-white group-hover:text-[#0D63AA]">
                <i class="fa-solid fa-umbrella text-lg"></i>
              </div>

              <h4 class="font-semibold mb-1 text-black text-lg 
               transition duration-300 group-hover:text-white">
                Insurance Coverage
              </h4>

              <p class="text-black text-xs leading-relaxed 
              transition duration-300 group-hover:text-white">
                Optional insurance for extra peace of mind.
              </p>
            </div>


            <!-- Card 7 -->
            <div class="group border border-[#0D63AA] rounded-lg p-5 text-lg 
              transition-all duration-300 
              hover:bg-[#0D63AA] hover:-translate-y-1 hover:shadow-lg">

              <div class="w-9 h-9 flex items-center justify-center bg-[#0D63AA] text-white 
                rounded-md mb-3 transition duration-300 
                group-hover:bg-white group-hover:text-[#0D63AA]">
                <i class="fa-solid fa-headset text-lg"></i>
              </div>

              <h4 class="font-semibold mb-1 text-black text-lg 
               transition duration-300 group-hover:text-white">
                24/7 Customer Support
              </h4>

              <p class="text-black text-xs leading-relaxed 
              transition duration-300 group-hover:text-white">
                Our support team is always available.
              </p>
            </div>

          </div>

        </div>

      </div>

    </div>

  </section>
</section>