<section class="relative overflow-hidden">

<div class="absolute inset-0 bg-[url('/images/map.png')] max-w-7xl mx-auto mt-96 bg-contain bg-no-repeat opacity-5"></div>

<!-- HERO -->
<section>
<div class="max-w-7xl mx-auto px-4 lg:px-8">

<div class="relative rounded-2xl overflow-hidden min-h-[380px] md:min-h-[450px] lg:min-h-[520px]  flex items-center"
style="background-image:url('images/hero-bg.png');background-size:cover;background-position:center;">

<div class="relative z-10 w-full lg:w-1/2 px-6 md:px-10 lg:px-16 py-12 text-white flex flex-col justify-center gap-6">

<h1 class="text-2xl sm:text-3xl lg:text-4xl font-semibold leading-tight">
{{ 'hiw.hero.title' | translate }}
</h1>

<p class="text-white text-base sm:text-lg max-w-lg">
{{ 'hiw.hero.subtitle' | translate }}
</p>

</div>

</div>
</div>
</section>



<!-- SENDERS -->
<section class="mt-16 lg:mt-30">

<div class="max-w-7xl mx-auto px-4 lg:px-8">

<div class="text-center">

<div class="flex items-center justify-center gap-4 lg:gap-6 mb-4">

<div class="hidden lg:block h-[2px] w-full bg-gradient-to-r from-[#0D63AA] to-blue-200"></div>

<h2 class="text-2xl sm:text-3xl lg:text-4xl font-semibold text-[#0D63AA] whitespace-nowrap">
{{ 'hiw.senders.title' | translate }}
</h2>

<div class="hidden lg:block h-[2px] w-full bg-gradient-to-l from-[#0D63AA] to-blue-200"></div>

</div>

<p class="text-gray-800 max-w-2xl mx-auto text-base sm:text-xl">
{{ 'hiw.senders.subtitle' | translate }}
</p>

</div>


<div class="grid lg:grid-cols-2 items-center gap-12 lg:gap-16 mt-12 lg:mt-16 ">

<!-- Timeline -->
<div class="relative">

<div class="absolute left-7 top-7 bottom-12 w-[2px] bg-blue-200"></div>
<div class="space-y-12">

<div class="relative pl-20">
<div class="absolute left-0 top-0 w-14 h-14 flex items-center justify-center bg-[#0D63AA] text-white rounded-full font-bold text-2xl flex-shrink-0">1</div>

<h4 class="text-black text-xl sm:text-2xl mb-1">
{{ 'hiw.senders.step1.title' | translate }}
</h4>

<p class="text-base sm:text-lg text-gray-700">
{{ 'hiw.senders.step1.desc' | translate }}
</p>
</div>


<div class="relative pl-20">
<div class="absolute left-0 top-0 w-14 h-14 flex items-center justify-center bg-[#0D63AA] text-white rounded-full font-bold text-2xl flex-shrink-0">2</div>

<h4 class="text-black text-xl sm:text-2xl mb-1">
{{ 'hiw.senders.step2.title' | translate }}
</h4>

<p class="text-base sm:text-lg text-gray-700">
{{ 'hiw.senders.step2.desc' | translate }}
</p>
</div>


<div class="relative pl-20">
<div class="absolute left-0 top-0 w-14 h-14 flex items-center justify-center bg-[#0D63AA] text-white rounded-full font-bold text-2xl flex-shrink-0">3</div>

<h4 class="text-black text-xl sm:text-2xl mb-1">
{{ 'hiw.senders.step3.title' | translate }}
</h4>

<p class="text-base sm:text-lg text-gray-700">
{{ 'hiw.senders.step3.desc' | translate }}
</p>
</div>


<div class="relative pl-20">
<div class="absolute left-0 top-0 w-14 h-14 flex items-center justify-center bg-[#0D63AA] text-white rounded-full font-bold text-2xl flex-shrink-0">4</div>

<h4 class="text-black text-xl sm:text-2xl mb-1">
{{ 'hiw.senders.step4.title' | translate }}
</h4>

<p class="text-base sm:text-lg text-gray-700">
{{ 'hiw.senders.step4.desc' | translate }}
</p>
</div>


<div class="relative pl-20">
<div class="absolute left-0 top-0 w-14 h-14 flex items-center justify-center bg-[#0D63AA] text-white rounded-full font-bold text-2xl flex-shrink-0  mt-0 lg:mt-1">5</div>

<h4 class="text-black text-xl sm:text-2xl mb-1">
{{ 'hiw.senders.step5.title' | translate }}
</h4>

<p class="text-base sm:text-lg text-gray-700">
{{ 'hiw.senders.step5.desc' | translate }}
</p>
</div>

</div>
</div>


<!-- Image -->
<div class="flex justify-center lg:justify-end ">
<img src="images/mbl.png" class="w-full max-w-sm lg:max-w-full object-contain z-45"/>
</div>

</div>

</div>
</section>


<div class="relative  overflow-hidden">
<div class="absolute inset-0 bg-[url('/images/map.png')] bg-center bg-no-repeat bg-contain opacity-5 max-w-4xl mx-auto lg:mt-[860px] mt-auto"></div>

<!-- TRAVELERS -->
<section class="mt-16 lg:mt-30  overflow-hidden relative" >

<div class="absolute inset-0 bg-[url('/images/map.png')] bg-center bg-contain bg-no-repeat opacity-5 max-w-5xl mx-auto"></div>

<div class="relative z-10 max-w-7xl mx-auto px-4 lg:px-8">

<div class="bg-[#E8EEF5] rounded-2xl px-6 md:px-10 lg:px-12 py-10">

<div class="text-center mb-12 lg:mb-16">

<div class="flex items-center justify-center gap-4 lg:gap-6 mb-4">

<div class="hidden lg:block h-[2px] w-full bg-gradient-to-r from-[#0D63AA] to-blue-200"></div>

<h2 class="text-2xl sm:text-3xl lg:text-4xl font-semibold text-[#0D63AA] whitespace-nowrap">
{{ 'hiw.travelers.title' | translate }}
</h2>

<div class="hidden lg:block h-[2px] w-full bg-gradient-to-l from-[#0D63AA] to-blue-200"></div>

</div>

<p class="text-black text-base sm:text-lg">
{{ 'hiw.travelers.subtitle' | translate }}
</p>

</div>


<div class="grid lg:grid-cols-2 gap-12 items-center">

<div class="flex justify-center">
<img src="images/travelers-app.png" class="w-full  lg:w-full object-contain"/>
</div>


<div class="relative">

<div class="absolute left-6 lg:left-auto lg:right-7 top-7 sm:bottom-8 bottom-20 w-[2px] bg-[#0D63AA]/40"></div>
<div class="space-y-10">

<div class="relative pl-20 lg:pl-0 lg:pr-20 lg:text-right">

<h4 class="text-[#0D63AA] text-xl sm:text-2xl">
{{ 'hiw.travelers.step1.title' | translate }}
</h4>

<p class="text-black text-base sm:text-lg">
{{ 'hiw.travelers.step1.desc' | translate }}
</p>

<div class="absolute left-0 lg:left-auto lg:right-0 top-0 w-14 h-14 flex items-center justify-center bg-[#0D63AA] text-white rounded-full font-semibold text-xl flex-shrink-0">1</div>

</div>


<div class="relative pl-20 lg:pl-0 lg:pr-20 lg:text-right">

<h4 class="text-[#0D63AA] text-xl sm:text-2xl">
{{ 'hiw.travelers.step2.title' | translate }}
</h4>

<p class="text-black text-base sm:text-lg">
{{ 'hiw.travelers.step2.desc' | translate }}
</p>

<div class="absolute left-0 lg:left-auto lg:right-0 top-0 w-14 h-14 flex items-center justify-center bg-[#0D63AA] text-white rounded-full font-semibold text-xl flex-shrink-0">2</div>

</div>


<div class="relative pl-20 lg:pl-0 lg:pr-20 lg:text-right">

<h4 class="text-[#0D63AA] text-xl sm:text-2xl">
{{ 'hiw.travelers.step3.title' | translate }}
</h4>

<p class="text-black text-base sm:text-lg">
{{ 'hiw.travelers.step3.desc' | translate }}
</p>

<div class="absolute left-0 lg:left-auto lg:right-0 top-0 w-14 h-14 flex items-center justify-center bg-[#0D63AA] text-white rounded-full font-semibold text-xl flex-shrink-0">3</div>

</div>


<div class="relative pl-20 lg:pl-0 lg:pr-20 lg:text-right">

<h4 class="text-[#0D63AA] text-xl sm:text-2xl">
{{ 'hiw.travelers.step4.title' | translate }}
</h4>

<p class="text-black text-base sm:text-lg">
{{ 'hiw.travelers.step4.desc' | translate }}
</p>

<div class="absolute left-0 lg:left-auto lg:right-0 top-0 w-14 h-14 flex items-center justify-center bg-[#0D63AA] text-white rounded-full font-semibold text-xl flex-shrink-0">4</div>

</div>


<div class="relative pl-20 lg:pl-0 lg:pr-20 lg:text-right">

<h4 class="text-[#0D63AA] text-xl sm:text-2xl">
{{ 'hiw.travelers.step5.title' | translate }}
</h4>

<p class="text-black text-base sm:text-lg">
{{ 'hiw.travelers.step5.desc' | translate }}
</p>

<div class="absolute left-0 lg:left-auto lg:right-0 top-0 w-14 h-14 flex items-center justify-center bg-[#0D63AA] text-white rounded-full font-semibold text-xl flex-shrink-0 mt-0 lg:mt-0">5</div>

</div>

</div>

</div>

</div>

</div>

</div>
</section>



<!-- CTA -->
<section class="mt-16 lg:mt-30 relative overflow-hidden">

<!-- Background Map -->

<div class="relative z-10 max-w-7xl mx-auto px-4 lg:px-8 grid lg:grid-cols-2 gap-12 items-center">

<div>

<h2 class="text-3xl sm:text-4xl font-semibold text-black">
  {{ 'hiw.cta.title_part1' | translate }}
  <span class="text-[#0D63AA]">
    {{ 'hiw.cta.title_part2' | translate }}
  </span>
</h2>

<p class="text-gray-800 mb-8 text-base sm:text-lg">
{{ 'hiw.cta.subtitle' | translate }}
</p>

<div class="flex items-center gap-6 mb-6">

  <img src="images/qr.png"
       class="w-32 h-32 sm:w-40 sm:h-40 object-contain"/>

  <div class="flex flex-col justify-center gap-3">

    <!-- Google Play -->
    <button class="flex items-center justify-center gap-2 bg-[#0D63AA] text-white px-4 py-3 sm:px-6 sm:py-3 rounded-full font-semibold hover:bg-[#0b5390] transition sm:w-56 w-44">
      <i class="fa-brands fa-google-play text-2xl sm:text-4xl"></i>
      <span class="text-sm sm:text-lg">
        {{ 'footer.google_play' | translate }}
      </span>
    </button>

    <!-- App Store -->
    <button class="flex items-center justify-center gap-2 bg-[#0D63AA] text-white px-4 py-3 sm:px-6 sm:py-3 rounded-full font-semibold hover:bg-[#0b5390] transition sm:w-56 w-44">
      <i class="fa-brands fa-apple text-3xl sm:text-5xl leading-none"></i>
      <span class="text-sm sm:text-lg">
        {{ 'footer.app_store' | translate }}
      </span>
    </button>

  </div>

</div>

<p class="text-gray-800 text-base sm:text-lg">
{{ 'hiw.cta.faq_link' | translate }}
</p>

</div>

<div class="flex justify-center lg:justify-end">
<img src="images/3mbl.png" class="w-full object-contain"/>
</div>

</div>

</section>
</div>

</section>
